# example config for the app, actual file should be called .env and be located in root of the project
LEPTOS_SITE_ADDR=0.0.0.0:8080
LEPTOS_SITE_ROOT=site
LEPTOS_TAILWIND_VERSION=v4.1.14
DAISYUI_VERSION=latest
env=PROD

# MAKE SURE TO FILL THIS IN CORRECTLY
DATABASE_URL=postgres://<user>:<password>@<host>:<port>/<db_name>
