# example config for the app, actual file should be called .env and be located in root of the project
LEPTOS_SITE_ADDR=0.0.0.0:8080
LEPTOS_SITE_ROOT=target/site
LEPTOS_WASM_OPT_VERSION=version_117
LEPTOS_TAILWIND_VERSION=v4.1.11
DAISYUI_VERSION=5.0.46
